.card-body {
    padding: 2rem 0 !important;
} 

.card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.btnContacto1 {
    background-color: #6d6d81 !important;
    border-color: #6d6d81 !important;
    font-size: 1rem !important;
    padding: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    letter-spacing: 0.1em !important;
    &:hover {
        background-color: #211f1b !important;
        border-color: #211f1b !important;
        opacity: 0.9 !important;
    }
}